<ion-header>
  <ion-toolbar>
    <ion-title>Mis Asignaturas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="agregarAsignatura()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let asignatura of asignaturas" [style.border-left]="'5px solid ' + asignatura.color">
      <ion-label>
        <h2>{{ asignatura.nombre }}</h2>
        <p>Docente: {{ asignatura.docente }}</p>
        <p>{{ asignatura.descripcion }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editar(asignatura)">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        <ion-button (click)="eliminar(asignatura.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
